# Sonarr Stack
# TV series download management
# Deploy with: docker stack deploy -c stacks/media-automation/sonarr/media.docker-compose.yml sonarr

version: '3.8'

services:
  sonarr:
    image: ghcr.io/linuxserver/sonarr:latest
    hostname: sonarr
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.labels.arr == true
      resources:
        limits:
          memory: 1G
        reservations:
          memory: 512M
      restart_policy:
        condition: on-failure
        max_attempts: 3
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Sao_Paulo
    volumes:
      - /data/docker/sonarr:/config
      - /data/media/series:/media/series
      - /data/media/movies:/media/movies
      - /data/media/incomplete:/downloads
    networks:
      - homelab-net
    ports:
      - target: 8989
        published: 8989
        protocol: tcp
        mode: host

networks:
  homelab-net:
    external: true
    name: homelab-net

